#output {
  display: none;
}

body{
  background-color: aqua;
}

input{ 
  width: 35%;
}

#title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding-top: 4rem;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#bg {
  height: 100%;
  width: 100%;
  background-color:white;
  clip-path: polygon(100% 0, 100% 57%, 56% 100%, 0 100%, 0 0);  
  position: absolute;
  z-index: -1;
}